
.explore {
  width: 100%;
  margin-left: 1.5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  column-gap: 25px;
  row-gap: 20px;
  flex-wrap: wrap;
  height: 100%;
}

.explore-Image {
  height: 293px;
  width: 303px;
  position: absolute;
}
.explore-Image:hover {
  opacity: 0.5;
  cursor: pointer;
  z-index: 6;
}
.Svg-explore:hover {
  opacity: 1;
  cursor: pointer;
  color: white;
}
.Svg-explore {
  z-index: 5;
  fill: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255);
  filter: drop-shadow(0 0 25px rgba(255, 255, 255, 0.9));
}
.Svg-exploreee {
  z-index: 10;
  fill: rgb(0, 0, 0);
  box-shadow: rgb(0, 0, 0);
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.9));
  margin-right: auto;
}
.Svg-exploreeee {
  z-index: 5;
  fill: rgb(0, 0, 0);
  box-shadow: rgb(0, 0, 0);
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.9));
  margin-right: 2%
}
.Gifandimage{
  height: 293px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  background-color: black;
}



@media only screen and (max-width: 590px) {
  .explore-Image {
    width: 150px;
    height: 150px;
  }
  .Gifandimage {
    width: 150px;
    height: 150px;
  }
  
}